.signin-form{
    margin: 10rem 6rem 4rem 6rem;
}


.signin-form h2{
    color: #2a2a2a;
}
.signin-form form{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.signin-form input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;
}
.signup-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-link{
    text-decoration: none;
    color: #000;
    font-style: italic;
}
.F-Password{
    text-decoration: none;
    color: #000;
}
.signin-form button{
    display: inline;
}
@media screen and (max-width:1024px) {
    .signin-form{
        margin: 4rem 2rem;
    }
    .signin-form form{
        padding-top: 2rem;
        width: 90%;
    }
    .signin-tab {
        width: 100%;
    }
    .signin-Btn{
        display: inline;
    }
}
@media screen and (max-width:850px) {
    .signin-tab {
        width: 90%;
    }
}

@media screen and (max-width:590px) {
    .signin-tab {
        display: flex;
        flex-direction: row;
    }
}